<section class="p-3 contact">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                Contactanos <i class="bi bi-phone-vibrate-fill"></i>
            </h2>
            <hr />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <form #formContact="ngForm">
                    <div class="mb-3">
                        <label for="nameContact" class="form-label">Nombre</label>
                        <input type="text" name="nameContact" id="nameContact" [(ngModel)]="contact.name" nameContact
                            #nameContact="ngModel" class="form-control form-control-lg" required minlength="4">
                        <div *ngIf="nameContact.errors?.['required']">
                            <div class="alert alert-warning"
                                *ngIf="nameContact.invalid && (nameContact.dirty || nameContact.touched)">
                                Por favor, escriba su nombre.
                            </div>
                        </div>
                        <div *ngIf="nameContact.errors?.['minlength']">
                            <div class="alert alert-warning"
                                *ngIf="nameContact.invalid && (nameContact.dirty || nameContact.touched)">
                                Por favor, Su nombre debe tener al menos 4 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="emailContact" class="form-label">Correo</label>
                        <input type="email" id="emailContact" class="form-control form-control-lg "
                            [(ngModel)]="contact.email" name="emailContact" email placeholder="Ingrese su correo" minlength="4"
                            required #email="ngModel" email />
                        <div *ngIf="email.errors?.['required']">
                            <div class="alert alert-warning" *ngIf="email.invalid && (email.dirty || email.touched)">
                                Por favor, escriba su correo.
                            </div>
                        </div>
                        <div *ngIf="email.errors?.['minlength']">
                            <div class="alert alert-warning" *ngIf="email.invalid && (email.dirty || email.touched)">
                                Por favor, Su correo debe tener al menos 4 caracteres.
                            </div>
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            <div class="alert alert-warning" *ngIf="email.invalid && (email.dirty || email.touched)">
                                Por favor, Su correo debe cumplir con un formato valido.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Número de contacto</label>
                        <input type="number" class="form-control " id="contactNumber" placeholder="3215649877" required
                            [(ngModel)]="contact.cellphone" name="contactNumber" #contactNumber="ngModel"
                            contactNumber />
                        <div *ngIf="contactNumber.errors?.['required']">
                            <div class="alert alert-warning"
                                *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)">
                                Por favor, escriba su número de contacto.
                            </div>
                        </div>
                        <div *ngIf="contactNumber.errors?.['number']">
                            <div class="alert alert-warning invalid-feedback"
                                *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)">
                                Por favor, su número de contacto debe cumplir con el formato valido, solo números.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="contactDescription" class="form-label">Mensaje</label>
                        <textarea class="form-control " id="contactDescription" placeholder="Descripción del programa"
                            required [(ngModel)]="contact.message" name="message" message #message="ngModel"
                            maxlength="400"
                            minlength="5"></textarea>
                        <div *ngIf="message.errors?.['required']">
                            <div class="alert alert-warning"
                                *ngIf="message.invalid && (message.dirty || message.touched)">
                                Por favor, escriba su mensaje.
                            </div>
                        </div>
                        <div *ngIf="message.errors?.['minlength']">
                            <div class="alert alert-warning"
                                *ngIf="message.invalid && (message.dirty || message.touched)">
                                Por favor, su mensaje debe tener al menos 5 caracteres.
                            </div>
                        </div>
                        <div *ngIf="message.errors?.['maxlength']">
                            <div class="alert alert-warning"
                                *ngIf="message.invalid && (message.dirty || message.touched)">
                                Por favor, su mensaje debe tener hasta 400 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" *ngIf="formContact.form.valid">
                        <div class="text-center">
                            <div class="pt-2">
                                <button class="btn btn-sm btn-primary text-white" (click)="contactMe()">Registrar
                                    contacto</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h3>Lo que dicen de nosotros</h3>
                <h2>
                    <i class="bi bi-facebook"></i>|
                    <i class="bi bi-twitter-x"></i>|
                    <i class="bi bi-instagram"></i>
                </h2>

                <hr />
                <h3>Nuestro correo</h3>
                <h4>
                    <i class="bi bi-envelope-at"></i>
                    INFO&#64;INVEXDIJIN.COM
                </h4>
            </div>
        </div>
    </div>
</section>