<section class="p-3 contact" id="contact">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                {{'contact-label-principal'|translate}} <i class="bi bi-phone-vibrate-fill"></i>
            </h2>
            <hr />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <form #formContact="ngForm">
                    <div class="mb-3">
                        <label for="nameContact" class="form-label">{{'contact-name-label'|translate}}</label>
                        <input type="text" name="nameContact" placeholder="{{'contact-name-placeholder'|translate}}"
                            id="nameContact" [(ngModel)]="contact.name" nameContact #nameContact="ngModel"
                            class="form-control form-control-lg" required minlength="4">
                        <div *ngIf="nameContact.errors?.['required']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="nameContact.invalid && (nameContact.dirty || nameContact.touched)">
                                {{'contact-name-error-message'|translate}}
                            </div>
                        </div>
                        <div *ngIf="nameContact.errors?.['minlength']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="nameContact.invalid && (nameContact.dirty || nameContact.touched)">
                                {{'contact-name-error-message-characters'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="emailContact" class="form-label">{{'contact-mail-label'|translate}}</label>
                        <input type="email" id="emailContact" class="form-control form-control-lg "
                            [(ngModel)]="contact.email" name="emailContact" email
                            placeholder="{{'contact-mail-placeholder'|translate}}" minlength="4" required
                            #email="ngModel" email
                            pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" />
                        <div *ngIf="email.errors?.['required']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="email.invalid && (email.dirty || email.touched)">
                                {{'contact-mail-error-message'|translate}}
                            </div>
                        </div>
                        <div *ngIf="email.errors?.['minlength']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="email.invalid && (email.dirty || email.touched)">
                                {{'contact-mail-error-message-characters'|translate}}
                            </div>
                        </div>
                        <div *ngIf="email.errors?.['email'] || email.errors?.['pattern']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="email.invalid && (email.dirty || email.touched)">
                                {{'contact-mail-error-message-valid'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">{{'contact-number-label'|translate}}</label>
                        <input type="text" class="form-control form-control-lg"
                            placeholder="{{'contact-number-placeholder'|translate}}" id="contactNumber"
                            [(ngModel)]="contact.cellphone" #contactNumber="ngModel" contactNumber required
                            name="contactNumber" pattern="^[0-9]+$" minlength="7" maxlength="10">
                        <div *ngIf="contactNumber.errors?.['required']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)">
                                {{'search-message-error-contact-number'|translate}}
                            </div>
                        </div>
                        <div *ngIf="contactNumber.errors?.['maxlength']">
                            <div class="alert alert-warning form-alert-show" *ngIf="contactNumber.invalid">
                                {{'search-message-error-maxlengh-contact-number'|translate}}
                            </div>
                        </div>
                        <div *ngIf="contactNumber.errors?.['minlength']">
                            <div class="alert alert-warning form-alert-show" *ngIf="contactNumber.invalid">
                                {{'search-message-error-minlengh-contact-number'|translate}}
                            </div>
                        </div>
                        <div *ngIf="contactNumber.errors?.['pattern']">
                            <div class="alert alert-warning form-alert-show" *ngIf="contactNumber.invalid">
                                {{'search-message-error-just-number-contact-number'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="contactDescription" class="form-label">{{'contact-message-label'|translate}}</label>
                        <textarea class="form-control " id="contactDescription"
                            placeholder="{{'contact-message-placeholder'|translate}}" required
                            [(ngModel)]="contact.message" name="message" message #message="ngModel" maxlength="300"
                            minlength="5"></textarea>
                        <div *ngIf="message.errors?.['required']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="message.invalid && (message.dirty || message.touched)">
                                {{'contact-message-error-message'|translate}}
                            </div>
                        </div>
                        <div *ngIf="message.errors?.['minlength']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="message.invalid && (message.dirty || message.touched)">
                                {{'contact-message-error-message-characters'|translate}}
                            </div>
                        </div>
                        <div *ngIf="message.errors?.['maxlength']">
                            <div class="alert alert-warning form-alert-show"
                                *ngIf="message.invalid && (message.dirty || message.touched)">
                                {{'contact-message-error-message-characters-max'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" *ngIf="formContact.form.valid">
                        <div class="text-center">
                            <div class="pt-2">
                                <button class="btn btn-sm btn-primary text-white"
                                    (click)="contactMe()">{{'contact-button-label'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h3>{{'contact-net-social-label-principal'|translate}}</h3>
                <h2>
                    <div class="social-links mt-3">
                        <span class="social-links-attr"> <a href="#" class="text-white" target="_blank"><i
                                    class="bi bi-facebook"></i>|</a></span>
                        <span class="social-links-attr"> <a href="#" class="text-white" target="_blank"><i
                                    class="bi bi-instagram"></i></a></span>
                    </div>
                </h2>

                <hr />
                <h3>{{'contact-label-our-mail'|translate}}</h3>
                <h4>
                    <i class="bi bi-envelope-at"></i>
                    INFO&#64;INVEXDIJIN.COM
                </h4>
            </div>
        </div>
    </div>
</section>