<section id="products" class="p-3">
  <div class="container">
    <h2 class="fw-bolder text-center">
      {{'service-title-principal'|translate}} <i class="bi bi-duffle-fill"></i>
    </h2>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            {{'service-title-product_1'|translate}}
          </div>
          <img src="./assets/img/person-identification.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#locationPeople">
              {{'service-title-button-label'|translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            {{'service-title-product_2'|translate}}
          </div>
          <img src="./assets/img/person-history.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#criminalRecord">
              {{'service-title-button-label'|translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            {{'"service-title-product_3'|translate}}
          </div>
          <img src="./assets/img/legal-investigation.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#legalInvestigation">
              {{'service-title-button-label'|translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            {{'service-title-product_4'|translate}}
          </div>
          <img src="./assets/img/cdr.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            {{'service-title-desc-product_4'|translate}}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#techinalEvidence">
              {{'service-title-button-label'|translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            {{'service-title-product_5'|translate}}
          </div>
          <img src="./assets/img/link-analysis.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#linkAnalysis">
              {{'service-title-button-label'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="locationPeople" tabindex="-1" aria-labelledby="locationPeopleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="locationPeopleLabel">{{'service-title-product_1'|translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{'service-desc-product_1'|translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">{{'service-desc-button-close'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="criminalRecord" tabindex="-1" aria-labelledby="criminalRecordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="criminalRecordLabel">{{'service-title-product_2'|translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{'service-desc-product_2'|translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">{{'service-desc-button-close'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="legalInvestigation" tabindex="-1" aria-labelledby="legalInvestigationLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="legalInvestigationLabel">{{'service-title-product_3'|translate}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{'service-desc-product_3'|translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'service-desc-button-close'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="techinalEvidence" tabindex="-1" aria-labelledby="techinalEvidenceLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="techinalEvidenceLabel">{{'service-title-product_4'|translate}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{'service-desc-product_4'|translate}}
        <ul>
          <li>{{'service-desc-product_4_1'|translate}}</li>
          <li>{{'service-desc-product_4_2'|translate}}</li>
          <li>{{'service-desc-product_4_3'|translate}}</li>
          <li>{{'service-desc-product_4_4'|translate}}</li>
          <li>{{'service-desc-product_4_5'|translate}}</li>
          <li>{{'service-desc-product_4_6'|translate}}</li>
          <li>{{'service-desc-product_4_7'|translate}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'service-desc-button-close'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="linkAnalysis" tabindex="-1" aria-labelledby="linkAnalysisLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="linkAnalysisLabel">{{'service-title-product_5'|translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{'service-desc-product_5'|translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'service-desc-button-close'|translate}}</button>
      </div>
    </div>
  </div>
</div>