<section class="p-3">
  <div class="container">
    <h2 class="fw-bolder text-center">
      Nuestros servicios <i class="bi bi-duffle-fill"></i>
    </h2>
    <hr/>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            Ubicación de Personas Especializada
          </div>
          <img src="../../../assets/img/person-identification.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#locationPeople">
              ¿De qué se trata?
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            Verificación de Antecedentes, Registros y Anotaciones
          </div>
          <img src="../../../assets/img/person-history.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#criminalRecord">
              ¿De qué se trata?
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            Servicios Profesionales de Investigación Judicial Privada
          </div>
          <img src="../../../assets/img/legal-investigation.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#legalInvestigation">
              ¿De qué se trata?
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            Evidencias Técnicas o Especializadas
          </div>
          <img src="../../../assets/img/legal-investigation.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            CDR (Call Detail Record) Celdas Celulares
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#techinalEvidence">
              ¿De qué se trata?
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-3">
          <div class="card-header fst-italic fw-bolder">
            ANALISIS LINK
          </div>
          <img src="../../../assets/img/link-analysis.png" class="card-img-top" alt="...">
          <div class="card-body fw-bold">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#linkAnalysis">
              ¿De qué se trata?
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="locationPeople" tabindex="-1" aria-labelledby="locationPeopleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="locationPeopleLabel">Ubicación de Personas Especializada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nuestro equipo de investigadores y analistas profesionales se especializa en la localización de personas,
        utilizando técnicas avanzadas de OSINT y fuentes especializadas. A través de métodos innovadores, incluyendo el
        análisis de registros de CDR (celdas celulares), podemos ubicar a individuos dentro o fuera del país con
        precisión.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="criminalRecord" tabindex="-1" aria-labelledby="criminalRecordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="criminalRecordLabel">Verificación de Antecedentes, Registros y Anotaciones</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Realizamos investigaciones para obtener información precisa sobre antecedentes, registros y anotaciones.
        Analizamos investigaciones pendientes, activas o inactivas, así como registros relacionados con delitos
        sexuales, contravencionales y administrativos o si existen medidas de aseguramiento vigentes. Nuestro enfoque
        meticuloso garantiza una evaluación completa y detallada.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="legalInvestigation" tabindex="-1" aria-labelledby="legalInvestigationLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="legalInvestigationLabel">Servicios Profesionales de Investigación Judicial
          Privada
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Somos investigadores profesionales con acreditaciones de la Superintendencia de Vigilancia y nuestra experiencia
        abarca una variedad de delitos. Ofrecemos asesoramiento en sus procesos legales, ya sea como víctima o
        indiciado. Trabajamos en estrecha colaboración con su abogado para proporcionar la defensa técnica necesaria,
        llevando a cabo actividades propias de investigadores y analistas criminales. Con nosotros, puede confiar en un
        enfoque experto y dedicado en cada etapa de su caso.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="techinalEvidence" tabindex="-1" aria-labelledby="techinalEvidenceLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="techinalEvidenceLabel">Evidencias Técnicas o Especializadas
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Los metadatos registrados en cada llamada o mensaje celular, conocidos como CDR, nos proporcionan valiosa
        información:
        <ul>
          <li>Número de teléfono y usuario del abonado celular.</li>
          <li>Fecha y hora de la llamada.</li>
          <li>Celda o celdas del sector desde donde se realizó la llamada.</li>
          <li>Duración de la llamada en segundos.</li>
          <li>Origen y destino de la llamada (quién llamó a quién).</li>
          <li>Tipo de llamada: entrante, saliente o gratuita.</li>
          <li>Estos datos constituyen evidencia técnica crucial que puede confirmar o descartar la ubicación de una
            persona en
            un momento específico.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="linkAnalysis" tabindex="-1" aria-labelledby="linkAnalysisLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="linkAnalysisLabel">ANALISIS LINK </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        En INVEXDIJIN, nuestros analistas están altamente capacitados para llevar a cabo el Análisis Link o de Vínculos.
        Esta técnica nos permite encontrar las conexiones y la intensidad de las llamadas entre dos o más números de
        teléfono celular. Además, somos expertos en auditar y revisar minuciosamente estos análisis para establecer la
        autenticidad de los datos recopilados.
        Confíe en nuestro equipo para proporcionar una evaluación detallada y precisa de las relaciones telefónicas,
        respaldada por una exhaustiva revisión y análisis. Estamos comprometidos a proporcionar información confiable y
        precisa en cada análisis que realizamos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>