<section style="background-color: #eee;" class="p-3 my-header">
  <div *ngIf="estadoTx=='APPROVED'; else elseBlock"><h1>Pago exitoso.</h1></div>
<ng-template #elseBlock><h1>Pago fallido.</h1></ng-template>
    <div class="loader-load" *ngIf="estadoTx=='DECLINED' else loadPerson">
        <app-loader></app-loader>
    </div>
    <ng-template #loadPerson>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <i class="bi bi-person person"></i>
                            <h5 class="my-3">{{consolidatedResponse.firstName}}</h5>
                            <p class="text-muted mb-1">{{consolidatedResponse.lastName}}</p>
                            <p class="text-muted mb-4">{{consolidatedResponse.documentNumber}}</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{'search-module-full-name'|translate}}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{consolidatedResponse.fullName}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{'search-module-status'|translate}}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{consolidatedResponse.state}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{'search-module-pending-issues'|translate}}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{consolidatedResponse.attorneyOfficeLegend}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{'search-module-roots'|translate}}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{consolidatedResponse.address}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{{'search-module-department-city'|translate}}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{consolidatedResponse.department}} / {{consolidatedResponse.municipality}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <app-map></app-map>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4"><span
                                            class="text-primary font-italic me-1">{{'search-module-pages-consulted'|translate}}
                                        </span>
                                    </p>
                                    <p class="mb-1" style="font-size: .77rem;">
                                        {{'loader-searching-national-police'|translate}}</p>
                                    <div class="progress" role="progressbar" aria-label="Info example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-info text-dark"
                                            style="width: 100%;    background-color: #5B7FC2 !important;"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">
                                        {{'loader-searching-registry'|translate}}</p>
                                    <div class="progress" role="progressbar" aria-label="Info example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-info text-dark"
                                            style="width: 100%;    background-color: #5B7FC2 !important;"></div>
                                    </div>
                                    <hr />
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">{{'certified-by-verifik'|translate}}
                                    </p>
                                    <div class="progress" role="progressbar" aria-label="Info example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-info text-dark"
                                            style="width: 100%;     background-color: #5B7FC2 !important;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</section>
