<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <svg class="placeholder-glow bd-placeholder-img rounded-circle" width="140" height="140"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                    </svg>
                    <h5 class="my-3 placeholder-glow"><span class="placeholder col-6"></span></h5>
                    <p class="text-muted mb-1 placeholder-glow">
                        <span class="placeholder col-4"></span>
                    </p>
                    <p class="text-muted mb-4 placeholder-glow"><span class="placeholder col-7"></span></p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-7"></span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-7"></span>
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-1 placeholder-glow">
                                <span class="placeholder col-8"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <div class="map-searching">
                                <div class="loading-founded">
                                    <div class="spinner-grow" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-secondary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-light" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4"><span class="text-primary font-italic me-1">Consultando páginas</span>
                            </p>
                            <p class="mb-1" style="font-size: .77rem;">Policia nacional</p>
                            <div class="progress" role="progressbar" aria-label="Animated striped example"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                    style="width: 80%; background-color: #000000 !important;"></div>
                            </div>
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Registraduría</p>
                            <div class="progress" role="progressbar" aria-label="Animated striped example"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                    style="width: 60%; background-color: #000000 !important;"></div>
                            </div>
                            <hr />
                            <p class="mt-4 mb-1" style="font-size: .77rem;">Certified by Verifik.co</p>
                            <div class="progress" role="progressbar" aria-label="Animated striped example"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                    style="width: 90%; background-color: #000000 !important;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>