<section id="about-me" class="about-me p-3">
    <div class="container">
        <h2 class="text-center fw-bold">
            {{'about-label-principal'|translate}} <i class="bi bi-door-closed-fill"></i>
        </h2>
        
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <img src="./assets/img/logo.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <p>
                    {{'about-desc-principal'|translate}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
                <hr />
                <p>
                    {{'about-desc-left'|translate}}
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <hr />
                <p>
                    {{'about-desc-center'|translate}}
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <hr />
                <p>
                    {{'about-desc-right'|translate}}
                </p>
            </div>
        </div>
    </div>
</section>