<section class="about-me p-3">
    <div class="container">
        <h2 class="text-center fw-bold">
            Quiénes somos <i class="bi bi-door-closed-fill"></i>
        </h2>
        
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <img src="../../../assets/img/logo.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <p>
                    INVEXDIJIN, su socio confiable en investigaciones. Conformada por exfuncionarios de la DIJIN,
                    nuestros
                    investigadores aportan una vasta experiencia en el funcionamiento de la justicia y el aparato
                    judicial. Para
                    particulares en busca de respuestas claras y soluciones precisas, INVEXDIJIN es su aliado confiable
                    en
                    investigaciones.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
                <hr />
                <p>
                    Nos especializamos en brindar apoyo integral en investigaciones penales, disciplinarias, JPM y
                    procesos
                    civiles para profesionales del derecho, particulares y servidores públicos. destacamos por nuestra
                    habilidad
                    para recolectar y analizar meticulosamente las pruebas necesarias para respaldar su defensa legal de
                    manera
                    técnica y sólida.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <hr />
                <p>
                    Además, somos expertos en la búsqueda de personas, utilizando métodos avanzados para localizar
                    individuos en
                    diversas situaciones. También realizamos análisis detallados de antecedentes judiciales y
                    contravencionales
                    para informar decisiones importantes.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <hr />
                <p>
                    En INVEXDIJIN, entendemos la importancia de cada caso personal y nos dedicamos a proporcionar
                    soluciones
                    investigativas confiables y efectivas para abordar sus necesidades con profesionalismo, precisión y
                    confidencialidad, confíe en nuestra experiencia. Estamos comprometidos con su búsqueda de la verdad
                    y su
                    defensa legal, brindando un enfoque experto y orientado a resultados.
                </p>
            </div>
        </div>
    </div>
</section>