<section class="counter-services p-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h1><span class="counter">2,523</span></h1>
                <h3>{{'counter-label-online'|translate}}</h3>
                <i class="bi bi-hand-thumbs-up"></i>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h1><span class="counter">768</span></h1>
                <h3>{{'counter-label-total'|translate}}</h3>
                <i class="bi bi-radar"></i>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h1><span class="counter">12,218</span></h1>
                <h3>{{'counter-label-hours'|translate}}</h3>
                <i class="bi bi-speedometer"></i>
            </div>
        </div>
    </div>
</section>