<section class="p-3" id="alliances">
    <div class="container">
        <h2 class="fw-bolder text-center">
            {{'alliances-label-principal'|translate}} <i class="bi bi-diamond-half"></i>
        </h2>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card">
                    <img src="./assets/img/mina.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mina Consultores & Asociados SAS</h5>
                        <p class="card-text">Mina Consultores & Asociados Sas</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">6012430364</li>
                        <li class="list-group-item">Bogotá</li>
                        <li class="list-group-item">AVENIDA JIMENEZ 8 A 77 OF 702</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://www.facebook.com/people/Jorge-Ivan-Mina-Lasso/pfbid0338tEVoD2vC2KwQGctBsqadPC5j314ynHuDUcPuWXnmC4odimTp5Ry79URpCtsLMdl/?paipv=0&eav=AfYxIV4qPUFVM6AW77AO42pptmBPHQbAsP-Q5hYTBgD_rhhdQKWnuGkB4EEdDWmVH8o"
                            target="_blank" class="card-link"><i class="bi bi-facebook"></i>{{'alliances-link-facebook'|translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card">
                    <img src="./assets/img/giomax.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gio MaX</h5>
                        <p class="card-text">Gio MaX Investigación y Analítica Digital</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">+57 3132855969</li>
                        <li class="list-group-item">Bogotá</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">{{'alliances-link-facebook'|translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card">
                    <img src="./assets/img/gte.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GRUPO DE TAREAS EMPRESARIALES LTDA</h5>
                        <p class="card-text">Servicios de Investigación y Seguridad
                            Nombre Completo: Grupo de Tareas Empresariales Ltda
                            .</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">+57 3213987669</li>
                        <li class="list-group-item">Bogotá</li>
                        <li class="list-group-item">Cl 16 # 10-29 Of 206</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://web.facebook.com/photo/?fbid=106283492757830&set=a.129149080471271"
                            target="_blank" class="card-link"><i class="bi bi-facebook"></i>{{'alliances-link-facebook'|translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card">
                    <img src="./assets/img/jr-autos.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">JR Autos del sur y Camiones S.A.S</h5>
                        <p class="card-text">JR Autos del sur.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">+57 3168299816</li>
                        <li class="list-group-item">Bogotá</li>
                        <li class="list-group-item">jrautosdelsur2019@yahoo.com
                            ||
                            <a href="http://www.jrautosdelsur.com" target="_blank" class="card-link">{{'alliances-link-page'|translate}}</a>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="https://web.facebook.com/p/JR-AUTOS-DEL-SUR-100030928796832/?_rdc=1&_rdr"
                            target="_blank" class="card-link"><i class="bi bi-facebook"></i>{{'alliances-link-facebook'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>