
/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Raleway', sans-serif !important;
}

.btn-primary{
    background-color: #000080 !important;
}


.form-alert-show {
    height: auto;
    padding: 0px;
}

/*
#1B9CA0
#066065
#40DDDF
#032324
#000303
*/